body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    background-color: #fff200;
    color: white;
    padding: 20px;
    text-align: center;
}


.header h1{
	color: #00488E;
	display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}



.search-filter {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-bar, .filter, .search-button {
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.search-button, .btn-primary {
	margin-left: 10px;
	width: 10%;
    padding: 10px;
    background-color: #00488E;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
   	text-decoration: none;
   	transition: background-color 0.3s ease;    
}
.btn-secondary{
	margin-left: 10px;
	width: 10%;
    padding: 10px;
    background-color: #6c757d;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
   	text-decoration: none;
   	transition: background-color 0.3s ease;   
}

a:hover {
	background-color: #0056b3;
}
 

.search-bar {
    width: 300px;
}

       
.course-grid {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: flex-start;
        }

        .course-card {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 20px;
            width: 250px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
        }

        .course-card:hover {
            transform: scale(1.05);
        }

        .course-card h3 {
            font-size: 1.5em;
            margin-bottom: 10px;
        }

        .course-card p {
            font-size: 1em;
            color: #555;
        }

        .course-card .course-actions {
            margin-top: 15px;
            display: flex;
            justify-content: space-between;           
        }

        .course-card .btn {
            padding: 8px 12px;
            border-radius: 4px;
            text-decoration: none;
            font-size: 0.9em;
        }

        .btn-warning {
            background-color: #00488E;
            color: #fff;
        }

        .btn-danger {
            background-color: #d9534f;
            color: #fff;
        }

        .btn-warning:hover, .btn-danger:hover {
            opacity: 0.8;
        }

.progress {
    height: 20px;
}

.progress-bar {
    background-color: #007bff;
}
        