<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Certifique-se de que o CSS está disponível -->
</head>
<body>
    <header>
        <h1>Bem-vindo ao Sistema de Treinamentos</h1>
    </header>
    <main>
        <p>Esta é a página inicial</p>
        <a href="/dashboard">Meus treinamentos</a>
    </main>
    <footer>
        <p>&copy; 2024 Sistema de Treinamentos Eurofarma</p>
    </footer>
</body>
</html>
